<!-- <h2>Building Details</h2>


<h3>{{buildingItem?.adress}}</h3>
        <p>by {{buildingItem?.promoter}}</p>
        <p>building functional since {{buildingItem?.dateOfoperation}}</p>
        <p>the budget I dispose for this Building is {{buildingItem?.budgetDisposed}}</p>
        <p>inhabutants in this building should pay before {{buildingItem?.dueDate}}</p>
        <img [src]="buildingItem?.image" />
<div>
  <h3>Delete building</h3>

  <button (click)="deleteBuildingClick()">Delete This Property</button>
</div> -->
<mat-tab-group>
  <mat-tab label="The Building Details">
     The Building Details 
    </mat-tab>

  <mat-tab label="Manage Residents">
      <app-residents></app-residents> 
    </mat-tab>

  <mat-tab label="Accomplish Suggestions">
      <app-suggestions></app-suggestions> 
    </mat-tab>

  <mat-tab label="Track Payments">
      <app-payments></app-payments> 
    </mat-tab>

</mat-tab-group>