

<mat-tab-group>
  <mat-tab label="The Building Details">
<section  fxLayout fxLayoutAlign="center">
  <mat-card class="new-building" fxFlex="400px">

  <mat-card-title>Building Details</mat-card-title>
  <mat-card-subtitle>{{buildingItem?.adress}}</mat-card-subtitle>
  <mat-card-content>
      <img mat-card-image [src]="buildingItem?.image">
      <p>by <span class="text">{{buildingItem?.promoter}}</span></p>
      <p>building functional since <span class="text">{{buildingItem?.dateOfoperation}}</span></p>
      <p>the budget I dispose for this Building is <span class="text">{{buildingItem?.budgetDisposed}}</span> $</p>
      <p>inhabutants in this building should pay before <span class="text">{{buildingItem?.dueDate}}</span></p>
  </mat-card-content>
  </mat-card>
</section>

    </mat-tab>

  <mat-tab label="Manage Residents">
      <app-residents></app-residents> 
    </mat-tab>

  <mat-tab label="Accomplish Suggestions">
      <app-suggestions></app-suggestions> 
    </mat-tab>

  <mat-tab label="Track Payments">
      <app-payments></app-payments> 
    </mat-tab>

</mat-tab-group>