  .buildinglist {
    display: flex;
    flex-wrap: wrap;
  }

  .buildingcard {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex; /* so child elements can use flexbox stuff too! */
  }

  .buildingimage img {
    max-width: 100%;
  }

  .buildinginfo {
    margin-top: auto;
  }

  