<header>

  <nav>
    <div>
      <a routerLink="/">Home</a>
    </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end">

    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <span *ngIf="!myAuthServ.currentUser">
        <li><a routerLink="/signup">Sign Up</a></li>
        <li><a routerLink="/login">Log In</a></li>
      </span>
      <span *ngIf="myAuthServ.currentUser">
        <b>Welcome back, {{myAuthServ.currentUser.firstName}}!</b>
        <li>
          <button (click)="logoutClick()">Log Out</button>
        </li>
      </span>
    </ul>

  </div>

  </nav>


</header>


<router-outlet></router-outlet>



<footer>
  <p>Made with GHAITH at Ironhack</p>
</footer>
