<header>
<h2>Welcome To Building Plus</h2>
  <nav>
    <a routerLink="/">Home</a>

    <span *ngIf="!myAuthServ.currentUser">
      <a routerLink="/signup">Sign Up</a>
      <a routerLink="/login">Log In</a>
    </span>

    <span *ngIf="myAuthServ.currentUser">
      <b>Welcome back, {{myAuthServ.currentUser.firstName}}!</b>
      <button (click)="logoutClick()">Log Out</button>
    </span>
  </nav>
</header>
<router-outlet></router-outlet>

<footer>
  <p>Made with GHAITH at Ironhack</p>
</footer>
