
  
  <header>
  <mat-toolbar color="warn">
      <div>
          <a routerLink="/">BUILDING+</a>
        </div>
    <div fxFlex fxLayout fxLayoutAlign= "flex-end">
      <ul  fxLayout fxLayoutGap="30px" class="navigation-items">
        <span *ngIf="!myAuthServ.currentUser">
          <a class="nav1" routerLink="#">About</a>
          <a class="nav1" routerLink="/signup">Sign Up</a>
          <a class="nav1" routerLink="/login">Log In</a>
        </span>
        <span *ngIf="myAuthServ.currentUser">
          <a class="nav1" routerLink="/building">List Of Buildings</a>
          <b class="nav1">Welcome back, {{myAuthServ.currentUser.firstName}}!</b>
          <button class="nav1" (click)="logoutClick()">Log Out</button>
           
          
        </span>
      </ul>
    </div>
  </mat-toolbar>
 

</header>


<router-outlet></router-outlet>




