<header class="header">
  <div class="title">
    <h1>Building +</h1>
  </div>
  
    <aside class="quote">
      <i>"Make Managing Properties A Better Experience"</i><br />
      Jack Jerome
    </aside>
  </header>

  <section id="general-information" class="background">
      <div class="container">
        <article class="col col-3">
          <h3>Hello!</h3>
          <p class="text">Welcome to Building+</p>
    
          <a class="link-btn" href="#">Learn More</a>
        </article>
    
        <article class="col col-3">
          <h3>About us</h3>
          <p class="text"> property manager.</p>
    
          <a class="link-btn" href="#">Watch Video</a>
        </article>
    
        <article class="col col-3">
          <h3>Let's Try</h3>
          <p class="text">It's Free</p>
    
          <a class="link-btn" routerLink="/signup">Register</a>
        </article>
    
        <div class="clearfix"></div>
      </div>
    </section>

    <section id="structure" class="container">
        <article class="col service-box">
          <img src="https://thumb.ibb.co/miyXdo/connection.png" alt="details" class="img" />

          <h4>1. Details</h4>
          <p>you have all the nessecary details of the building</p>
        </article>
      
        <article class="col service-box">
          <img src="https://thumb.ibb.co/iMYJjT/teamwork_1.png" alt="residents" class="img" />
          <h4>2. Residents</h4>
          <p>You add residents, by adding deleting and deleting</p>
        </article>
      
        <article class="col service-box">
          <img src="https://thumb.ibb.co/mxpVyo/question.png" alt="suggestion" class="img" />
          <h4>3. Suggestions</h4>
          <p>Every suggestion you collect, can be added to and tracked</p>
        </article>
      
        <article class="col service-box">
          <img src="https://thumb.ibb.co/hG8JjT/money_bag.png" alt="payments" class="img" />

          <h4>4. Payments</h4>
          <p>Check who have payed made the payments</p>
        </article>
      
        <div class="clearfix"></div>
      </section>

      <footer class="background footer">
          <div class="container">
            <section class="col col-3">
              <h5>Contact Information</h5>
              <address class="address">
                Building+<br />
                33 Rue la Fayette,<br />
                75009 Paris,<br />
                France<br />
                +33 (0) 619 193 088
              </address>
        
              <h5>Follow Us</h5>
              <ul>
                <li class="follow-us-item"><a class="link" href="http://www.twitter.com" target='_blank'>Twitter</a></li>
                <li class="follow-us-item"><a class="link" href="http://www.facebook.com" target='_blank'>Facebook</a></li>
                <li class="follow-us-item"><a class="link" href="http://www.instagram.com" target='_blank'>Instagram</a></li>
              </ul>
            </section>
        
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.142047755348!2d2.3354220160472316!3d48.87456477928921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e38f817b573%3A0x48d69c30470e7aeb!2sIronhack!5e0!3m2!1sen!2ses!4v1495208746099" class="map-frame" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="clearfix"></div>
          </div>
        </footer>